:root {
  --white: #ffffff;
  --black: #000000;

  // Primary
  --orange1: hsl(6, 100%, 80%);
  --orange2: hsl(335, 100%, 65%);
  // Neutral
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  --unspecified-color1: #8990c6;
  --unspecified-color2: #151e49;
}
